button {
    color: #0f1419;
    background-color: white;
    font-weight: bold;
    border: 1px solid #cfd9de;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}